
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="breadcrumbs text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs-title">
                    <h2>Change Password...</h2>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- text page-->
<section class="padding-small">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="block">
                    <div class="block-header">
                        <h5>Change Password</h5>
                    </div>
                    <div class="block-body">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            if (TempData["InValid"] != null)
                            {
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <strong>Message:</strong> @TempData["InValid"]
                                </div>
                            }

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })






                            <div class="form-group">
                                <label for="email" class="form-label">Old Password</label>
                                <input id="oldp" name="oldp" type="password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password" class="form-label">Password</label>
                                <input id="newp" type="password" name="newp" class="form-control" onChange="checkPasswordMatch();" required>
                            </div>
                            <div class="form-group">
                                <label for="password" class="form-label">Confirm Password</label>
                                <input id="cnewp" type="password" name="cnewp" onChange="checkPasswordMatch();" required class="form-control">
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" id="btnSubmit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Change Password</button>
                            </div>

                            <div class="" id="Match"></div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
function checkPasswordMatch() {
    var password = $("#newp").val();
    var confirmPassword = $("#cnewp").val();

    if (password != confirmPassword)
    {

      $('#Match').html("  <strong>Warning!</strong> Password NO Match");
 $('#Match').addClass('alert alert-warning');
        $('#Match').removeClass(' alert-success');

        $("#btnSubmit").attr("disabled", true);

    }
    else
    {
       $('#Match').html("  <strong>Sccuess!</strong> Password  Match");
 $('#Match').addClass('alert alert-success');
        $('#Match').removeClass(' alert-warning');
        $('#Match').removeClass(' alert-warning');
        $("#btnSubmit").attr("disabled", false);


    }
}



$(document).ready(function () {
    $("#cnewp").keyup(checkPasswordMatch);

});







</script>





